<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADAssignment"
        tools:targetApi="31">

        <!-- General -->
        <activity
            android:name=".general.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".general.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".general.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".general.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".general.RequestTACActivity"
            android:exported="false" />
        <activity
            android:name=".general.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".general.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".general.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".general.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".general.ForgotPasswordActivity"
            android:exported="false" />

        <!-- Medication -->
        <activity
            android:name=".medication.ReminderActivity"
            android:exported="false" />
        <activity
            android:name=".medication.MedicationManagementActivity"
            android:exported="false" />
        <activity
            android:name=".medication.ChooseMedicationActivity"
            android:exported="false" />

        <!-- Education -->
        <activity
            android:name=".education.DetailedActivity"
            android:exported="false" />
        <activity
            android:name=".education.EducationMainActivity"
            android:exported="false">
        </activity>

        <!-- Calendar -->
        <activity
            android:name=".calendar.MedicationCalendar"
            android:exported="false" />
        <activity
            android:name=".calendar.CalendarMainActivity"
            android:exported="false" />
        <activity
            android:name=".calendar.AppointmentCalendarActivity"
            android:exported="false" />

        <!-- Appointment -->
        <activity
            android:name=".appointment.AppointmentMainActivity"
            android:exported="false" />
        <activity
            android:name=".appointment.Radiology"
            android:exported="false" />
        <activity
            android:name=".appointment.Neurology"
            android:exported="false" />
        <activity
            android:name=".appointment.Cardiology"
            android:exported="false" />
        <activity
            android:name=".appointment.Dermatology"
            android:exported="false" />
        <activity
            android:name=".appointment.DateAndTime"
            android:exported="false" />
    </application>

</manifest>